<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

   <servlet>
   		<servlet-name>pages</servlet-name>
   		<servlet-class>cn.seu.web.StuffServlet</servlet-class>
   </servlet>
   <servlet-mapping>
    <servlet-name>pages</servlet-name>  
    <url-pattern>*.test</url-pattern>  
  </servlet-mapping> 
	<servlet>
	  <servlet-name>my</servlet-name>
	  <servlet-class>zzwxiangmu.zzwserv</servlet-class><!-- 所谓的反射机制可以简单理解为  不通过在java代码中new的形式  给我这个类的全路径（包路径+类名称）我也可以通过反射进行创建对象的过程 -->
	  <init-param > 
	     <param-name>username</param-name>
	      <param-value>Jim</param-value>
	  </init-param>
	</servlet>
	<servlet-mapping>
	   <servlet-name>my</servlet-name>
	   <url-pattern>*.html</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>mydo</servlet-name>
	  <servlet-class>zzwxiangmu.zzwdo</servlet-class><!-- 所谓的反射机制可以简单理解为  不通过在java代码中new的形式  给我这个类的全路径（包路径+类名称）我也可以通过反射进行创建对象的过程 -->
	</servlet>
	<servlet-mapping>
	   <servlet-name>mydo</servlet-name>
	   <url-pattern>*.do</url-pattern>
	</servlet-mapping>
</web-app>